.class {
    width: 100%;
    height: 390px;
    display: flex;
    padding: 20px 10px;
    justify-content: center;
    /* align-items: center; */
    flex-shrink: 0;
    background: rgba(240, 254, 253, 1);
    text-align: center;
    margin-bottom: 2rem;
}
.class p{
    color: #000;
font-family: Arial;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.card-img {
    min-width: 268px;
    min-height: 180px;
}
.card-container{
    display: inline-flex;
    margin: 1rem;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap: 70px; */
    max-width:  265px;
}

.card-container p {
    color: #0047FF;
    font-family: Arial;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card-container button{
    display: flex;
padding: 10px 65px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 5px;
background: #0047FF;
}